#Задание

In [50]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

In [51]:
df = pd.read_csv('data.csv', index_col = 'Object')
df.head()

         X   Y  Cluster
Object
1        1  12        0
2       20   6        1
3       16   5        2
4        6  15        1
5        7   3        1

In [52]:
X = df.drop('Cluster', axis = 1)

In [53]:
model = KMeans(n_clusters=3, init=np.array([[7.5, 12.0], [11.43, 8.43], [11.25, 9.75]]), max_iter=100, n_init=1)
distances = model.fit_transform(X)

In [54]:
clusters = model.labels_

**Указание, к какому кластеру будет отнесен тот или иной объект в результате кластеризации**

In [10]:
clusters

array([0, 1, 1, 0, 1, 2, 0, 2, 0, 0, 2, 0, 2, 0, 1], dtype=int32)

**Среднее расстояний между объектами и центроидом, отнесенных к кластеру**

In [55]:
distances_to_clusters = pd.DataFrame(distances, clusters).loc[0]

In [56]:
round(np.mean(distances_to_clusters)[0], 3)

5.004

**Проверка**

In [46]:
X['Clusters'] = clusters
points = np.array(X.loc[X['Clusters'] == 0].drop(['Clusters'], axis = 1))
center = model.cluster_centers_[0]

In [47]:
dist = 0 
for point in points:
  dist += ((point[0] - center[0])**2 + (point[1] - center[1])**2)**(1/2)
dist/len(points)

5.004034343094924