In [ ]:
import numpy as np
import pandas as pd
from keras.datasets import mnist
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.multiclass import OneVsRestClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

In [ ]:
(X_train, y_train), (X_pred, y_pred) = mnist.load_data()

**1**

In [ ]:
nsamples, nx, ny = X_train.shape
X_train_reduced = X_train.reshape((nsamples, nx*ny))

In [ ]:
pca = PCA(n_components = 52)
pca.fit(X_train_reduced)

PCA(n_components=52)

In [ ]:
sum(pca.explained_variance_ratio_)

0.8309509271703353

**2**

In [ ]:
pca = PCA(n_components=52, svd_solver='full')
X_transform = pca.fit_transform(X_train_reduced)

**3**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_transform, y_train, test_size=0.3, random_state=126)

In [ ]:
X_train[:, 0].mean()

0.5965431171660774

**4**

In [ ]:
rfc = RandomForestClassifier(criterion='gini', 
                             min_samples_leaf=10, 
                             max_depth=20, 
                             n_estimators=10, 
                             random_state=126)

In [ ]:
clf = OneVsRestClassifier(rfc)

In [ ]:
clf.fit(X_train, y_train)

OneVsRestClassifier(estimator=RandomForestClassifier(max_depth=20,
                                                     min_samples_leaf=10,
                                                     n_estimators=10,
                                                     random_state=126))

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
confusion_matrix(y_test, y_pred)[5,5]

1414

**5**

In [ ]:
df = pd.read_csv('pred_for_task.csv', index_col="FileName")

In [ ]:
df.head()

,Label,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f774,f775,f776,f777,f778,f779,f780,f781,f782,f783
FileName,,,,,,,,,,,,,,,,,,,,,
file1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
file2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
file3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
file4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
file5,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X = df.drop(["Label"], axis = 1)

In [ ]:
X_transform = pca.transform(X)

In [ ]:
clf.predict_proba(X_transform)[19][4]

0.9632103360054342