# Задание № 1

In [112]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [113]:
df = pd.read_csv('data.csv', index_col='id')
df.head()

     X   Y  Class
id
1   85  78      0
2   47  33      1
3   56  46      1
4   80  37      1
5   52  62      0

In [122]:
# Test object
obj = [[52, 87]]

##k = 3 and euclidean_distance

In [115]:
knn3_euc = KNeighborsClassifier(n_neighbors = 3, p = 2)

In [116]:
x = df.values[:, 0:2]
y = df.Class.values
knn3_euc.fit(x, y)

KNeighborsClassifier(n_neighbors=3)

**Расстояние до ближайшего соседа и id трех ближайших точек**

In [117]:
kneigh_euc = knn3_euc.kneighbors(obj)
print(round(kneigh_euc[0][0][0], 3))
print([i + 1 for i in kneigh_euc[1][0]])

19.235
[7, 5, 10]

**Класс нового объекта**

In [118]:
print(knn3_euc.predict(obj)[0])

0

##k = 3 and manhattan_distance

In [119]:
knn3_man = KNeighborsClassifier(n_neighbors = 3, p = 1).fit(x, y)

**Расстояние до ближайшего соседа и id трех ближайших точек**

In [120]:
kneigh_man = knn3_man.kneighbors(obj)
print(round(kneigh_man[0][0][0], 3))
print([i + 1 for i in kneigh_man[1][0]])

25.0
[5, 7, 10]

**Класс нового объекта**

In [121]:
print(knn3_man.predict(obj)[0])

0